<header>

  <div class="container">
    <div class="logo">
      <a href="index.html"><h1>C.U.E</h1></a>
    </div>

    <nav class="navbar">
      <a href="index.html">Home</a>
      <a href="#about-me">About Me</a>
      <a href="#work">Work</a>
      <a href="#contact-me">Contact Me</a>
    </nav>
  </div>

  <div class="header-section">
    <h1 class="banner-text">
      <span class="far-border">
        <span class="text-border">
          Charles
        </span>
      </span>
    </h1>
    <h3 class="kicker-text">Designer | Photographer | Coder</h3>
  </div>

</header>
