
/*----------------------- About Me Section ------------------------*/

#about-me {
  height: 640px;
}

#about-bg {
  width: 50%;
  background-color: #ccc;
}

/*=======================End of About Me Section ==================*/
